:root {
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: #2b097a;
  --tertiary-color: #c755fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  align-items: center;
}

header a {
  color: var(--tertiary-color);
}

.container {
  margin: auto;
  width: 100%;
  height: 100px;
  text-align: center;
}

.container h1 {
  padding: 20px;
}

.container h2 {
  color: #614d91;
  font-style: italic;
}

.options p {
  padding: 20px 30px;
}

.buttondiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  padding: 10px 15px;
  margin: 20px 40px;
  background: var(--secondary-color);
  color: white;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.btn:hover {
  background-color: var(--tertiary-color);
}

/* End quiz form input section */
form {
  margin: 40px 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.form-text {
  justify-content: center;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* High score page */
.high-score-header {
  margin-top: 50px;
}

.high-scores {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.score-item {
  text-align: left;
  background-color:#d6c7fa;
  padding: 6px;
  margin: 10px;
  border-radius: 10px;
  width: 100%
}